/* /* Setting container to flex and width to 80% of view port */
.container{
    display: flex;
    width: 80%;
}
/*Adding background image to each section*/
.one{
    background: url(Project/img/themes-img/themes-da-lat.jpg);
    border: 1px rgba(0,0,0,0) solid;
    border-radius: 50px;
}
.two{
    background: url(Project/img/themes-img/themes-ha-giang.jpg);
    border: 1px rgba(0,0,0,0) solid;
    border-radius: 50px;
}
.three{
    background: url(Project/img/themes-img/themes-moc-chau.jpg);
    border: 1px rgba(0,0,0,0) solid;
    border-radius: 50px;
}
.four{
    background: url(Project/img/themes-img/themes-vinh-ha-long.jpg);
    border: 1px rgba(0,0,0,0) solid;
    border-radius: 50px;
}
/* Background properties and transition effect to section  */
.section{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    cursor: pointer;
    flex: 0.2;
    margin:8px;
    position: relative;
    transition: all 0.7s ease-out;
} 
  
/* section with active class will grow flex to 3 times  */
.section.active{
    flex: 3;
}