@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,600&display=swap');
/* Body */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.white{
    color: white;
}

.blog--content__banner{
    width: 100%;
    position: relative;
}

.blog--content__banner img{
    width: 100%;
    object-fit:cover;
    background-position: bottom;
    max-height: 300px;
}

.blog--banner__content a{
    text-decoration: none;
}

.blog--banner__content a:hover{
    color: goldenrod;
}

.blog--banner__content{
    color: white;
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.blog--content__review .blog--item img{
    border-radius: 5px;
}

.social-container{
    display: flex;
    justify-content: center;
}
.about-banner--form{
    width: 100%;
    padding: 100px 0;
    object-fit: cover;
    background-image: url('img/back-stayinconnected.jpg');
}

/* Blog Ocean */
.author{
    width: 100%;
    position: absolute;
    top: 25%;
    left: 0;
}
.author img{
    border-radius: 50%;
    width: 110px;
    border: 3px solid #fff;
}

.post--info{
    font-size: 12px;
    /* margin-top: -40px; */
    text-transform: uppercase;
}

.paragraph{
    max-width: 800px;
}

.post--info__detail{
    margin: 20px 0;
    letter-spacing: 2px;
    font-size: 11px;
    display: flex;
    justify-content: center;
    min-width: 200px;
}

.post--view img{
    display: inline-block;
    margin-left: -10px;
    margin-top: -8px;
    width: 30px;
    height: auto;
    border-radius: 50%;
}

blockquote{
    margin: 20px 0;
    padding: 10px 0 10px 80px;
    text-align: left;
    display: inline-block;
}

.quote{
    font-size: 24px;
    font-style: italic;
    text-align: left;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    opacity: 0.7;
}

blockquote p{
    opacity: 0.3;
    padding-top: 5px;
}

.like-share{
    margin: 50px 0;
}

.like-share button{
    margin: 0px 10px;
    padding: 10px;
    border: 1.5px solid goldenrod;
    width: 120px;
    height: 50px;
    color: goldenrod;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    border-radius: 7px;
}

.like-share button:hover{
    animation: my-transition 2s;
}
