@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,600&display=swap');
/* Body */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gold{
    background-color: #ad974f;
}

.line{
    width: 50px;
    height: 1px;
    display: inline-block;
    margin: 0px auto;
}

.t-gold{
    color: goldenrod;
    font-weight: 500;
}

body{
    font-family: 'Montserrat', sans-serif;
}

body h5{
    font-size: 14px;
    margin: 50px 0 0 0;
    display: block;
    text-transform: uppercase;
}

body h2{
    font-size: 28px;
    display: block;
    text-transform: uppercase;
}

body h6{
    font-size: 18px;
    color: black;
    margin-bottom: 50px;
    text-align: center;
    display: block;
}

@keyframes my-transition {
    0%{
        transform: scale(1);
    }
    33%{
        transform: scale(1.1);
    }
    66%{
        transform: scale(1);
    }
}

/* my navigation bar design */
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    z-index: 10000;
    transition: all 0.4s ease-in;
}

.responsive-navbar{
    background: white;
    padding: 5px 0;
}

.sticky{
    background: white;
    border-bottom: 1px solid goldenrod;
    padding: 5px 0;
}

.sticky .navbar-collapse .navbar-nav .nav-item .nav-link{
    color: #000;
}

/* Chỉnh màu ở phần này */
.navbar-light .navbar-nav .nav-link {
    color: white;
    font-weight: bolder;
}

.navbar-nav .dropdown-menu{
    background-color: rgba(255, 255, 255, 0.8);
}

.navbar-nav .dropdown-menu .dropdown-item{
    color: black;
}

.navbar-nav .dropdown-menu .dropdown-item:hover {
    background-color: transparent;
    color: wheat;
    font-weight: bolder;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: black;
    font-weight: bolder;
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, .8);
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: rgb(170, 155, 127);
}

.btn-outline-success {
    color: black;
    border: 2px black solid;
}

.btn-outline-success:hover {
    background-color: rgb(170, 155, 127);
    border: 2px rgb(170, 155, 127) solid;
    color: black;
    animation: my-transition 2s;
}

.form-control{
    background-color: rgba(255, 255, 255, .6);
    border: 1px black solid;
    
}

/* my section design */
.carousel-item img{
    height: 100vh;
    object-fit: cover;
}

.btn-outline-secondary{
    color: #fff; 
    border: 2px solid #fff; 
    padding: 16px 40px; 
    font-size: 20px; 
    margin-top: 20px;
}

.carousel-caption{
    top: 35%;
}

.carousel-caption .btn-outline-secondary:hover{
    background-color: rgba(0, 0, 0.4, 0.4);
    border: 2px solid #fff; 
    animation: my-transition 2s;
}

.carousel-indicators [data-bs-target]{
    width: 7px;
    height: 7px;
    border: 0.1px rgba(0, 0, 0, 0) solid;
    border-radius: 100%;
}

.carousel-indicators .active{
    width: 16px;
    height: 7px;
    border: 0.1px rgba(0, 0, 0, 0) solid;
    border-radius: 12px;
    background-color: white;
    transition: ease-in 0.2s;
}

.carousel-caption .h5{
    font-size: 12px;
    color: wheat;
    letter-spacing: 4px;
    font-weight: 500;
    width: 100%;
    margin: 15px 0 0 0;
    text-transform: uppercase;
    display: block;
}

.carousel-caption .description{
    font-weight: lighter;
    font-size: 40px;
}

.carousel-caption .keyword{
    font-family: 'Playfair Display', serif; 
    font-weight: bold;
    font-size: 44px;
}

.carousel-caption .title-line{
    width: 75px;
    height: 2px;
    display: inline-block;
    justify-content: center;
    background: #fff;
    opacity: 0.8;
}

/* Promotion Section */
.promotion--content{
    background-color: white;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.owl-carousel .item img{
    width: 300px;
    height: 400px;
}
.owl-carousel .item{
    position: relative;
}
.owl-carousel .item .item--title{
    width: 100%;
    font-size: 20px;
    color: white;
    position: absolute;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

.promotion-btn{
    padding: 20px 30px;
    text-align: center;
    border: 2px solid #333;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.promotion-btn:hover{
    animation: my-transition 2s;
    background-color: rgba(0, 0, 0, 0);
}

.btn--viewmore{
    border: 2px solid #fff;
    color: #fff;
    background-color: none;
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    display: none;
}

.btn--viewmore:hover{
    color: #fff;
    background-color: rgba(0, 0, 0.4, 0.4);
}

.owl-carousel .item:hover .btn--viewmore{
    display: block;
}

/* Blog section */

.blog--content{
    margin-top: 150px;
    width: 100%;
    text-align: center;
}

.blog--item img{
    width: 100%;
    height: 250px;
}

.blog--item{
    margin-top: 30px;
}

.blog--item:hover{
    animation: my-transition 1.2s;
}

.blog--item p{
    text-align: left;
    margin-top: -10px;
    margin-left: 10px;
    font-size: 12px;
}

.blog--item__title{
    width: 100%;
    margin-top: 10px;
    margin-left: 10px;
    text-align: left;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    
}

.blog--item_view{
    text-align: left;
    margin-left: 20px;
    margin-top: -10px;
}

.blog--item_view img{
    display: inline-block;
    width: 20px;
    height: auto;
    border-radius: 20px;
    margin-left: -10px;
}

.blog--item_view .views{
    font-size: 12px;
    opacity: 0.7;
}

.blog--content__review .line-gold{
    width: 95%;
    height: 1px;
    opacity: 0.5;
    display: inline-block;
    margin: 100px auto;
    background-color: #ad974f;
}

/* About Section */
.section{
    width: 100%;
    padding: 105px 0 0 0;
}

.about--section{
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

.about--section .center{
    text-align: center;
}

.about--content h5{
    color: white !important;
}

.about--content h2{
    color: white !important;
}

.about--content h6{
    color: white !important;
}

.about--btn{
    margin-top: 20px !important;
    min-width: 200px;
    padding: 20px 30px;
    text-align: center;
    border: 2px solid white;
    text-transform: uppercase;
    background-color: white;
    font-weight: bold;
}

.about--btn:hover{
    animation: my-transition 2s;
}

.video-back{
    margin-top: 100px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.video-back video{
    width: 100% ;
    height: 100%;
    object-fit: cover;
}

/* Testimonial section */
.testimonial--content{
    text-align: center;
}

.testimonial--clients{
    margin: 0 auto;
}

.testimonial--clients img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 50px auto;
}

.testimonial--clients__info{
    margin-bottom: 70px;
}

.testimonial--clients .carousel-item p{
    font-size: 16px;
    font-family: 'Montserrat', sans-seri;
    margin: 0;
}

.testimonial--clients__name{
    font-size: 14px;
    font-weight: 600;
    opacity: 0.9;
    font-family: 'Montserrat', sans-seri;
}

.testimonial--clients__job{
    font-size: 12px;
    color: #ad974f;
}

/* Responsive */
@media only screen and (max-width: 576px){
    body h5{
        font-size: 9px;
    }
    
    body h2{
        font-size: 23px;
        display: block;
        text-transform: uppercase;
    }
    
    body h6{
        font-size: 13px;
        color: black;
        margin-bottom: 50px;
        text-align: center;
        display: block;
    }

    .carousel-caption .description{
        font-size: 25px;
    }

    .carousel-caption .keyword{
        font-size: 29px;
    }
}

@media only screen and (min-width: 576px){
    body h5{
        font-size: 10px;
    }
    
    body h2{
        font-size: 24px;
        display: block;
        text-transform: uppercase;
    }
    
    body h6{
        font-size: 14px;
        color: black;
        margin-bottom: 50px;
        text-align: center;
        display: block;
    }

    .carousel-caption .description{
        font-size: 28px;
    }

    .carousel-caption .keyword{
        font-size: 32px;
    }
}

@media only screen and (min-width: 768px){
    body h5{
        font-size: 11px;
    }
    
    body h2{
        font-size: 25px;
        display: block;
        text-transform: uppercase;
    }
    
    body h6{
        font-size: 15px;
        color: black;
        margin-bottom: 50px;
        text-align: center;
        display: block;
    }

    .carousel-caption .description{
        font-size: 31px;
    }

    .carousel-caption .keyword{
        font-size: 35px;
    }
}

@media only screen and (min-width: 992px){
    body h5{
        font-size: 12px;
    }
    
    body h2{
        font-size: 26px;
        display: block;
        text-transform: uppercase;
    }
    
    body h6{
        font-size: 16px;
        color: black;
        margin-bottom: 50px;
        text-align: center;
        display: block;
    }

    .carousel-caption .description{
        font-size: 34px;
    }

    .carousel-caption .keyword{
        font-size: 38px;
    }
}

@media only screen and (min-width: 1200px){
    body h5{
        font-size: 13px;
    }
    
    body h2{
        font-size: 27px;
        display: block;
        text-transform: uppercase;
    }
    
    body h6{
        font-size: 17px;
        color: black;
        margin-bottom: 50px;
        text-align: center;
        display: block;
    }

    .carousel-caption .description{
        font-size: 37px;
    }

    .carousel-caption .keyword{
        font-size: 41px;
    }
}

@media only screen and (min-width: 1400px){
    body h5{
        font-size: 14px;
    }
    
    body h2{
        font-size: 28px;
        display: block;
        text-transform: uppercase;
    }
    
    body h6{
        font-size: 18px;
        color: black;
        margin-bottom: 50px;
        text-align: center;
        display: block;
    }

    .carousel-caption .description{
        font-size: 40px;
    }

    .carousel-caption .keyword{
        font-size: 44px;
    }
}
