@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
}

/* my navigation bar design */
.collapse{
    font-family: 'Montserrat', sans-serif;;
}

.navbar-nav .dropdown-menu{
    background-color: rgba(255, 255, 255, 0.8);
}

.navbar-nav .dropdown-menu .dropdown-item{
    color: black;
}

.navbar-nav .dropdown-menu .dropdown-item:hover {
    background-color: transparent;
    color: rgb(170, 155, 127);
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: black;
    font-weight: bolder;
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, .7);
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: rgb(170, 155, 127);
}

.bg-color{
    background-color: white;
}

.btn-outline-success {
    color: black;
    border: 2px black solid;
}

.btn-outline-success:hover {
    background-color: rgba(170, 155, 127, 0.5);
    border: 2px rgba(170, 155, 127, 0.5) solid;
    color: black;
    animation: my-transition 2s;
}

.form-control{
    background-color: rgba(255, 255, 255, .6);
    border: 2px black solid;
    
}

/* my section design */
.carousel{
    font-family: 'Montserrat', sans-serif;
}

.carousel-item img{
    height: 100vh;
}

.btn-outline-secondary{
    color: #fff; 
    border: 2px solid #fff; 
    padding: 16px 40px; 
    font-size: 20px; 
    margin-top: 20px;
}

.carousel-caption{
    top: 35%;
}

.carousel-caption .btn-outline-secondary:hover{
    background-color: rgba(0, 0, 0.4, 0.4);
    border: 2px solid #fff; 
    animation: my-transition 2s;
}

@keyframes my-transition {
    0%{
        transform: scale(1);
    }
    33%{
        transform: scale(1.15);
    }
    66%{
        transform: scale(1);
    }
}
.carousel-caption .h5{
    font-size: 12px;
    color: wheat;
    letter-spacing: 4px;
    font-weight: 500;
    width: 100%;
    margin: 15px 0 0 0;
    text-transform: uppercase;
    display: block;
}

.carousel-caption .description{
    font-weight: lighter;
    font-size: 40px;
}

.carousel-caption .keyword{
    font-family: 'Playfair Display', serif; 
    font-weight: bold;
    font-size: 44px;
}

.carousel-caption .title-line{
    width: 75px;
    height: 2px;
    display: inline-block;
    justify-content: center;
    background: #fff;
    opacity: 0.8;
}

