@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,600&display=swap');
/* Body */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center{
    text-align: center;
}

.white{
    background:white;
}

.black{
    background-color: black;
}

.gold{
    background-color: goldenrod;
}

.line{
    width: 50px;
    height: 1px;
    display: inline-block;
    margin: 0px auto;
}

.line-vertical{
    width: 1px;
    height: 50px;
    display: inline-block;
    margin: 0px auto;
}

.t-white {
    color: white;
}

.t-black{
    color: black;
}

.t-gold{
    color: goldenrod;
}

body{
    font-family: 'Montserrat', sans-serif;
}

body h1{
    font-size: 58px;
    display: block;
    text-transform: uppercase;
    margin: 10px 0;
}

body h2{
    font-size: 28px;
    display: block;
    text-transform: uppercase;
    margin: 10px 0;
}

body h5{
    font-size: 14px;
    display: block;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 10px 0;
    font-weight: lighter;
}

body h6{
    font-size: 18px;
    display: block;
    margin: 10px 0;
}

@keyframes my-transition {
    0%{
        transform: scale(1);
    }
    33%{
        transform: scale(1.1);
    }
    66%{
        transform: scale(1);
    }
}

.footer-font{
    letter-spacing: 3px;
}

/* my navigation bar design */
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    z-index: 10;
    transition: all 0.4s ease-in;
}

.responsive-navbar{
    background: white;
    padding: 5px 0;
}

.sticky{
    background: white;
    border-bottom: 1px solid goldenrod;
    padding: 5px 0;
}

.sticky .navbar-collapse .navbar-nav .nav-item .nav-link{
    color: #000;
}

/* Chỉnh màu ở phần này */
.navbar-icon-scale{
    transform: scale(1.4);
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    font-weight: bolder;
}

.navbar-nav .dropdown-menu{
    background-color: rgba(255, 255, 255, 0.9);
}

.navbar-nav .dropdown-menu .dropdown-item{
    color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
}

.navbar-nav .dropdown-menu .dropdown-item:hover {
    background-color: transparent;
    color: rgba(0, 0, 0, .7);
    font-weight: bolder;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: black;
    font-weight: bolder;
}
.navbar-light .navbar-nav .nav-link {
    color: black;
    padding: 1rem 1rem;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 13px;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: rgba(0, 0, 0, .7);
}

.btn-outline-success {
    color: black;
    border: 2px black solid;
}

.btn-outline-success:hover {
    background-color: rgb(170, 155, 127);
    border: 2px rgb(170, 155, 127) solid;
    color: black;
    animation: my-transition 2s;
}

.form-control{
    background-color: rgba(255, 255, 255, .6);
    border: 1px black solid;
    
}

/* my section design */
.carousel-item img{
    height: 100vh;
    object-fit: cover;
}

.btn-outline-secondary{
    color: #000; 
    border: 0px; 
    background-color: #fff;
    border-radius: 10px;
    padding: 16px 40px; 
    font-size: 18px; 
    margin-top: 20px;
    letter-spacing: 2px;
}

.carousel-caption{
    top: 35%;
}

.carousel-caption .btn-outline-secondary:hover{
    background-color: rgba(255, 255, 255, 0.8);
    border: 0px; 
    color: #000;
    animation: my-transition 2s;
}

.carousel-indicators [data-bs-target]{
    width: 7px;
    height: 7px;
    border: 0.1px rgba(0, 0, 0, 0) solid;
    border-radius: 100%;
}

.carousel-indicators .active{
    width: 16px;
    height: 7px;
    border: 0.1px rgba(0, 0, 0, 0) solid;
    border-radius: 12px;
    background-color: white;
    transition: ease-in 0.2s;
}

.description{
    font-weight: lighter;
    font-size: 40px;
}

.keyword{
    font-family: 'Playfair Display', serif; 
    font-weight: bold;
    font-size: 44px;
}

.title-line{
    width: 75px;
    height: 2px;
    display: inline-block;
    justify-content: center;
    background: #fff;
    opacity: 0.8;
}

/* Promotion Section */
.promotion--section{
    position: relative;
    margin: 100px 0
}

.promotion--content{
    background-color: white;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.owl-carousel .item img{
    width: 300px;
    height: 400px;
}
.owl-carousel .item{
    position: relative;
}
.owl-carousel .item .item--title{
    width: 100%;
    font-size: 20px;
    color: white;
    position: absolute;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

.promotion-btn{
    padding: 20px 30px;
    text-align: center;
    border: 0px;
    border-radius: 10px;
    background-color: black;
    text-transform: uppercase;
    font-size: 15px;
    color: white;
    letter-spacing: 1px;
}

.promotion-btn:hover{
    animation: my-transition 2s;
    color: white;
    background-color: rgba(0, 0, 0, .8);
}

.btn--viewmore{
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .9);
    color: white;
    position: absolute;
    display: block;
    left: calc(50% - 75px);
    top: calc(50% - 30px);
    width: 150px;
    height: 60px;
    display: none;
}

.btn--viewmore:hover{
    animation: my-transition 1s;
   background-color: rgba(0, 0, 0, .7);
   color: white;
}

.owl-carousel .item:hover .btn--viewmore{
    display: block;
}

/* Blog section */
.blog--section{
    position: relative;
    margin: 100px 0;
}

.blog--content{
    margin-top: 150px;
    width: 100%;
    text-align: center;
}

.blog--item img{
    width: 100%;
    height: 250px;
}

.blog--item{
    margin-top: 30px;
}

.blog--item:hover{
    animation: my-transition 1.2s;
}

.blog--item p{
    text-align: left;
    margin-top: -10px;
    margin-left: 10px;
    font-size: 12px;
}

.blog--item__title{
    width: 100%;
    margin-top: 10px;
    margin-left: 10px;
    text-align: left;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    
}

.blog--item_view{
    text-align: left;
    margin-left: 20px;
    margin-top: -10px;
}

.blog--item_view img{
    display: inline-block;
    width: 20px;
    height: auto;
    border-radius: 20px;
    margin-left: -10px;
}

.blog--item_view .views{
    font-size: 12px;
    opacity: 0.7;
}

.blog--content__review .line-gold{
    width: 95%;
    height: 1px;
    opacity: 0.5;
    display: inline-block;
    margin: 100px auto;
    background-color: #ad974f;
}

/* About Section */
.section{
    width: 100%;
    padding: 105px 0 0 0;
}


.info-box{
    height: 200px;
}

.info-box h5{
    letter-spacing: 1px;
    margin-top: 70px;
}

.about--section{
    position: relative;
    margin: 100px 0;
    padding: 20px 0;
}

.about--section .center{
    text-align: center;
}

.about--content h5{
    color: white !important;
}

.about--content h2{
    color: white !important;
}

.about--content h6{
    color: white !important;
}

.about--btn{
    margin-top: 20px !important;
    padding: 20px 30px;
    text-align: center;
    font-size: 15px;
    border: 0px;
    border-radius: 10px;
    text-transform: uppercase;
    background-color: white;
    color: black;
    letter-spacing: 1px;
}

.about--btn:hover{
    animation: my-transition 2s;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
}

.video-back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.video-back video{
    width: 100% ;
    height: 100%;
    object-fit: cover;
}

/* Testimonial section */
.testimonial--section{
    position: relative;
    margin: 100px auto;
}

.testimonial--content{
    text-align: center;
}

.testimonial--clients{
    margin: 0 auto;
}

.testimonial--clients img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 50px auto;
}

.testimonial--clients__info{
    margin-bottom: 70px;
}

.testimonial--clients .carousel-item p{
    font-size: 16px;
    font-family: 'Montserrat', sans-seri;
    margin: 0;
}

.testimonial--clients__name{
    font-size: 14px;
    font-weight: 600;
    opacity: 0.9;
    font-family: 'Montserrat', sans-seri;
}

.testimonial--clients__job{
    font-size: 12px;
    color: #ad974f;
}

/* Responsive */
@media only screen and (max-width: 576px){
    body h5{
        font-size: 9px;
    }
    
    body h2{
        font-size: 23px;
    }
    
    body h6{
        font-size: 13px;
    }

    .carousel-caption .description{
        font-size: 25px;
    }

    .carousel-caption .keyword{
        font-size: 29px;
    }
}

@media only screen and (min-width: 576px){
    body h5{
        font-size: 10px;
    }
    
    body h2{
        font-size: 24px;
    }
    
    body h6{
        font-size: 14px;
    }

    .carousel-caption .description{
        font-size: 28px;
    }

    .carousel-caption .keyword{
        font-size: 32px;
    }
}

@media only screen and (min-width: 768px){
    body h5{
        font-size: 11px;
    }
    
    body h2{
        font-size: 25px;
    }
    
    body h6{
        font-size: 15px;
    }

    .carousel-caption .description{
        font-size: 31px;
    }

    .carousel-caption .keyword{
        font-size: 35px;
    }
}

@media only screen and (min-width: 992px){
    body h5{
        font-size: 12px;
    }
    
    body h2{
        font-size: 26px;
    }
    
    body h6{
        font-size: 16px;
    }

    .carousel-caption .description{
        font-size: 34px;
    }

    .carousel-caption .keyword{
        font-size: 38px;
    }
}

@media only screen and (min-width: 1200px){
    body h5{
        font-size: 13px;
    }
    
    body h2{
        font-size: 27px;
    }
    
    body h6{
        font-size: 17px;
    }

    .carousel-caption .description{
        font-size: 37px;
    }

    .carousel-caption .keyword{
        font-size: 41px;
    }
}

@media only screen and (min-width: 1400px){
    body h5{
        font-size: 14px;
    }
    
    body h2{
        font-size: 28px;
    }
    
    body h6{
        font-size: 18px;
    }

    .carousel-caption .description{
        font-size: 40px;
    }

    .carousel-caption .keyword{
        font-size: 44px;
    }
}

/* contact--form */

.contact--form{
    width: 100%;
    margin: 40px auto 0 auto;
}

.banner--form{
    width: 100%;
    /* height: 100vh; */
    padding: 100px 0;
    object-fit: cover;
    background-image: url('img/contact-img.jpg');
}

.banner--form .center{
    text-align: center;
}

.banner--form__signup{
    background: #fff;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 60px;
}

.banner--form__signup .line-black{
    background-color: #000;
    width: 50px;
    height: 1px;
    display: inline-block;
    margin: 0px auto;
}

.banner--form__signup h2{
    font-size: 30px;
    margin: 20px 0;
}

.controls{
    display: flex;
    justify-content: center;
}

.form-group{
    width: 80%;
}

.form-group .input--item{
    display: inline-block;
    position: relative;
    width: 80%;
    margin: 30px auto 50px auto;
}

.form-group #form--email{
    border: none;
    background-color: #f6f6f6;
    border-radius: 10px;
    padding: 25px;
}

.form-group .input--item #form--submit{
    padding: 22px;
    width: 100px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #000;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
}

.form-group .input--item #form--submit:hover{
    animation: my-transition 2s;
}

@media only screen and (max-width: 991px) {
    .form-group .input--item #form--submit{
        min-width: 50px;
    }
    .form-group .input--item{
        width: 100%;
    }
}

/* Social */
.mt-100{
    margin-top: 50px !important;
    font-weight: bold;
}

.social-container{
    width: 100%;
    text-align: center;
}

.social-container div{
    display: inline-block;
    justify-content: space-between;
}

.social-container div:hover{
    animation: my-transition 2s;
}

.social-container i{
    margin: 0 auto;
    font-size: 24px;
}

.social-container a:hover i{
    opacity: .7;
    animation: my-transition 2s;
    color: goldenrod;
}
.social-container a{
    margin: 0px 10px auto;
    text-align: center;
    border-radius: 10px;
}
.m-20 {
	margin: 20px 0!important;
}

.icon{
    padding: 20px !important;
    width: 60px;
    height: 60px;
}

/* Footer */
footer .links{
    text-align: center;
    width: 100%;
    margin-top: 40px;
    display: inline-block;
}
footer .links a{
    font-size: 12px;
    text-decoration: none;
    color: #000;
    padding: 0 10px;
    font-weight: bold;
    text-transform: uppercase;
}
footer .copyright{
    opacity: .9;
    font-size: 14px;
    display: inline-block;
    width: 100%;
    color: #999;
    margin-top: 10px;
    margin-bottom: 30px;
}

/* form Đăng Nhập & Đăng ký & Liên hệ*/
.div-btn-close{
    width: 24px; 
    height: 24px; 
    text-align: right;
    margin: 0 auto; 
    margin-top: 10px; 
    margin-right: 10px;
}

.modal-content{
    border: none;
}

.modal-header{
    border: none;
    margin: 0 auto;
    padding: 0px;
}

.modal-title{
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    margin: 0px auto;
    letter-spacing: 3px;
}

.modal-footer{
    width: 100%;
    border: none;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.modal-dialog{
    top: 15%;
}

.modal-body .modal-body_item{
    display: flex;
    flex-direction: column;
}

.modal-body .modal-body_item input{
    width: 80%;
    height: 50px;
    font-size: 14px;
    padding: 7px 0px 7px 15px;
    border-radius: 5px;
    border: none;
    background-color: #f1f1f1;
    margin: 0px auto;
}

.modal-body .modal-body_item input:focus{
    outline: rgba(153, 196, 245, 0.6);
}

.modal-body .modal-body_item .label-email{
    margin-left: calc(10px + 10%);
    margin-bottom: 5px;
    font-weight: bold;
}

.modal-body .modal-body_item .label-password{
    margin-top: 20px;
    margin-bottom: 5px;
    margin-left: calc(10px + 10%);
    font-weight: bold;
}

.modal-footer {
    margin: 0 auto;
}

.modal-footer .modal-footer-login a button{
    min-width: 240px;
}

.modal-footer .modal-footer-social{
    display: flex;
    flex-direction: column;
}

.modal-footer .modal-footer-social button{
    font-size: 14px;
    min-width: 240px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #e6e3e3;
    background: #e6e3e3;
}

.modal-footer .modal-footer-social button:hover{
    opacity: 0.8;
}

.modal-footer .modal-footer-signup{
    display: flex;
    flex-direction: column;
}

.forget-password{
    margin: 0px auto;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
}

.modal-footer .modal-footer-contact button{
    width: auto;
    border-radius: 5px;
    background: goldenrod;
    font-size: 14px;
    padding: 10px;
    border: none;
    color: white;
    margin-bottom: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.modal-footer .modal-footer-signup button{
    width: auto;
    border-radius: 5px;
    background: goldenrod;
    font-size: 14px;
    padding: 10px;
    border: none;
    color: white;
    margin-bottom: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.modal-footer .modal-footer-login button{
    width: auto;
    border-radius: 5px;
    background-color: goldenrod;
    font-size: 14px;
    padding: 10px;
    border: none;
    color: white;
    margin-bottom: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.modal-footer .modal-footer-signup button:hover{
    opacity: 0.7;
}

.modal-footer .modal-footer-login button:hover{
    opacity: 0.7;
}

.social-network-icon{
    border-radius: 5px; 
    width: 40px; 
    height: 40px; 
    text-align: center; 
    margin: 0px auto;
    display: inline-block;
    padding: 7.4px;
}

.social-network-icon-scale{
    transform: scale(1.5);
}

@media (min-width: 576px){
    .modal--body{
        max-width: 500px;
        margin: 1.75rem auto;
    }
}

/* About HTML*/
.icon-scale{
    transform: scale(2);
}

.about-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 3px;
    display: inline-block;
}

.about{
    position: relative;
    height: 30vh;
    display: flex;
    padding: 150px 0;
}

.col-lg-3{
    cursor: pointer;
}

.about-video-back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.about-video-back video{
    width: 100% ;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}

.about-banner--form{
    width: 100%;
    height: 300px;
    object-fit: cover;
    background-image: url('img/back-stayinconnected.jpg');
    display: flex;
    justify-content: center;
}

.about-banner--form i{
    transform: scale();
}

a{
    text-decoration: none;
}

a:hover{
    color: goldenrod;
}

.feedback-line{
    border-left: 1px dashed goldenrod;
    width: 1px;
    height: 80px;
    display: inline-block;
    margin: 0 auto;
    margin: 10px 0 0 0;
}

.feedback{
    width: 50%; 
    display: block; 
    margin: 10px auto;
    padding: 10px;
    background-color: #f6f6f6;
    border: 2px #f6f6f6 solid;
    border-radius: 10px;
}
.feedback-img{
    border-radius: 50%; 
    width: 100px; 
    height: 100px;
}

.feedback h5{
    font-size: 15px;
    margin: 20px 0;
    display: block;
    letter-spacing: 0px;
    text-transform: inherit;
}

.paragraph {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.left {
    text-align: left;
}

.justify {
    text-align: justify;
}
.info-box {
    padding: 40px 20px;
    min-height: 100px;
    margin: 0 auto 20px auto;
    width: 100%;
    position: relative;
    text-align: center;
    border-radius: 6px;
}
.info-box:hover{
    animation: my-transition 2s;
}

.light-grey {
    background: #f6f6f6;
}

.timeline-container .img img {
    border-radius: 50%;
    border: 3px solid #f2f2f2;
    width: 80px;
}
.timeline-container .img {
    text-align: center;
    width: 150px;
    margin: 10px auto;
}

/* Trang Promotion  */
.promotion{
    position: relative;
    height: 30vh;
    display: flex;
    padding: 150px 0;
}
.promotion-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 3px;
    display: inline-block;
}

.promotion-img-back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.promotion-img-back img{
    width: 100% ;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}

.promotion-section{
    position: relative;
    margin: 100px 0
}

.promotion--content{
    width: 100%;
    text-align: center;
}

.div-filter-button{
    display: flex; 
    justify-content: space-between; 
    width: 60%; 
    margin: 50px auto 0px auto;
}

.filter-button {  
    font-size: 16px;    
    border: 1px solid black;  
    border-radius: 5px; 
    text-align: center; 
    color: black; 
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0);
}

.filter-button:hover {
    animation: my-transition 2s;
}

.filter-button.active {  
    background-color: rgba(0, 0, 0, 0);  
    border: 1px solid rgba(0, 0, 0.4, 0.6);  
    color: rgba(0, 0, 0.4, 0.6);
}

.row-promotion{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    width: 100%; 
    justify-content: center; 
    margin: 0px auto;
}

.row-promotion .col-lg-4{ 
    padding: 0; 
    margin: 15px; 
    width: 350px;
} 

.promotion-content-img{
    position: relative; 
    padding: 0; 
    margin: 0; 
}

.promotion-img{
    width: 100%;
    height: 450px;
}

.tag{
    position: absolute;
    z-index: 9;
    padding: 0px 10px;
    border: 0px;
    border-radius: 10px;
    background-color: goldenrod;
    top: 3%;
    right: 4%;
}

.tag h5{
    font-size: 14px;
    letter-spacing: 1px;
    cursor: default;
}

.title{
    position: absolute;
    z-index: 9;
    bottom: 10%;
    width: 100%;
    text-align: center;
}

.promo-btn-viewmore{
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .9);
    color: white;
    position: absolute;
    display: block;
    left: calc(50% - 75px);
    top: calc(50% - 30px);
    width: 150px;
    height: 60px;
    display: none;
}

.promo-btn-viewmore:hover{
   animation: my-transition 1s;
   background-color: rgba(0, 0, 0, .7);
   color: white;
}

.row .col-lg-4 .promotion-content-img:hover .promo-btn-viewmore{
    display: block;
}

/* Trang Blogs */
.blog{
    position: relative;
    height: 30vh;
    display: flex;
    padding: 150px 0;
}
.blog-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 3px;
    display: inline-block;
}

.blog-img-back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.blog-img-back img{
    width: 100% ;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}

/* Subpage Blog */
.author{
    width: 100%;
    position: relative;
}

.author img{
    border-radius: 50%;
    width: 110px;
    border: 3px solid #fff;
}

.post--info{
    font-size: 12px;
    margin-top: 20px;
    text-transform: uppercase;
}

.blog--ocean{
    margin: 50px auto;
}

.post--info__detail{
    margin: 20px auto;
    letter-spacing: 1px;
    font-size: 11px;
    display: flex;
    justify-content: center;
    min-width: 35%;
}

.post--view img{
    display: inline-block;
    margin-left: -10px;
    margin-top: -8px;
    width: 30px;
    height: auto;
    border-radius: 50%;
}

blockquote{
    margin: 20px 0;
    padding: 10px 0 10px 80px;
    text-align: left;
    display: inline-block;
}

.quote{
    font-size: 24px;
    font-style: italic;
    text-align: left;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    opacity: 0.7;
}

blockquote p{
    opacity: 0.8;
    padding-top: 5px;
}

.like-share{
    margin: 50px 0;
}

.like-share button{
    margin: 0px 10px;
    padding: 10px;
    border: 1.5px solid goldenrod;
    width: 120px;
    height: 50px;
    color: goldenrod;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    border-radius: 7px;
}

.like-share button:hover{
    animation: my-transition 2s;
    border: 1.5px solid goldenrod;
    color: goldenrod;
}

/* Trang Themes */
.container-fluid{
    display: flex;
}
/*Adding background image to each section*/
.one{
    background: url(img/themes-img/themes-moc-chau.jpg);
    border: 1px rgba(0,0,0,0) solid;
    border-radius: 50px;
}
.two{
    background: url(img/themes-img/themes-co-thach.jpg);
    border: 1px rgba(0,0,0,0) solid;
    border-radius: 50px;
}
.three{
    background: url(img/themes-img/themes-hoi-an.jpg);
    border: 1px rgba(0,0,0,0) solid;
    border-radius: 50px;
}
.four{
    background: url(img/themes-img/themes-vinh-ha-long.jpg);
    border: 1px rgba(0,0,0,0) solid;
    border-radius: 50px;
}
/* Background properties and transition effect to section  */
.section{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: contain;
    height: 88vh;
    cursor: pointer;
    flex: 0.2;
    margin:8px;
    position: relative;
    transition: all ease-in 1.1s;
} 
/* section with active class will grow flex to 3 times  */
.section.active{
    flex: 3;
}

.section.active .section--content{
    display: block;
}

/* Scroll */
html{
    scroll-behavior: smooth;
    transition: all 5s ease; 
}

.section--content{
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: none;
}

.section--content .btn-outline-secondary:hover{
    animation: my-transition 2s;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    border: 0px;
}

.section--content .description .keyword{
    font-family: 'Playfair Display', serif; 
    font-size: 38px;
}

.themes-section{
    margin: 100px auto;
}

.beach--heading,
.oldtown--heading,
.island--heading,
.moutain--heading{
    margin: 20px 0 30px 0;
    font-weight: 500;
}

.beach--item,
.oldtown--item,
.island--item,
.moutain--item{
    margin-bottom: 20px;
    position: relative;
}

.beach--item img,
.oldtown--item img,
.island--item img,
.moutain--item img{
    width: 100%;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
}

.beach--content__heading,
.oldtown--content__heading,
.island--content__heading,
.moutain--content__heading{
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    position: absolute;
    left: 35px;
    bottom: -5px;
    letter-spacing: 2px;
}

.btn--view__beach,
.btn--view__oldtown,
.btn--view__island,
.btn--view__moutain{
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .9);
    color: white;
    font-size: 15px;
    position: absolute;
    left: calc(50% - 75px);
    top: calc(50% - 30px);
    width: 150px;
    height: 60px;
    display: none;
}

.beach--item:hover .btn--view__beach,
.oldtown--item:hover .btn--view__oldtown,
.island--item:hover .btn--view__island,
.moutain--item:hover .btn--view__moutain{
    display: block;
}

.btn--view__beach:hover,
.btn--view__oldtown:hover,
.btn--view__island:hover,
.btn--view__moutain:hover{
    animation: my-transition 1s;
    background-color: rgba(0, 0, 0, .7);
    color: white;
}

/* Subpage Themes */
.themepage{
    width: 80%;
    margin: 100px auto;
}

.themepage img{
    width: 80%;
    height: auto;
    margin: 20px auto;
}

.themepage--title{
    margin: 30px auto;
}

.themepage h6{
    font-weight: bold;
    letter-spacing: 0.5px;
}

.like-share{
    margin: 20px 0;
}

.like-share button{
    margin: 0px 10px;
    padding: 10px;
    border: 1.5px solid goldenrod;
    width: 120px;
    height: 50px;
    color: goldenrod;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 15px;
    border-radius: 10px;
}

.like-share button:hover{
    animation: my-transition 2s;
}


/* Box chat */
.reset{
    margin: 0;
    padding: 0;
}

.offcanvas{
    width: 370px;
    height: 70vh;
    border-radius: 20px;
    margin-top: 30vh;
    margin-right: 17px;
}

.btn-boxchat{
    position:fixed; 
    width:60px; 
    height:60px; 
    border:3px solid goldenrod;
    border-radius:50%; 
    background-color: white; 
    z-index: 10; 
    bottom: 2%; 
    right: 2%; 
    cursor: pointer;
}

.btn-boxchat i{
    font-size: 28px; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%,-50%);
}

.btn-boxchat:hover{
    animation: my-transition 2s;
}

.boxchat-heading{
    display: flex; 
    width: 100%; 
    height: auto; 
    margin: 0; 
    border-bottom: 2px solid goldenrod; 
    padding: 10px;
}

.boxchat-heading img{
    border: 0px; 
    border-radius: 50%; 
    width: 60px; 
    height: 60px;
}

.boxchat-heading div{
    display: block; margin-left: 20px; width: auto; margin: auto 5px;
}

.boxchat-heading div > h6{
    margin: 0;
}

.boxchat-heading div > h5{
    text-transform: inherit; 
    margin: 0; 
    letter-spacing: 0px;
}

.boxchat-heading div > h5 > i{
    transform: scale(0.7); 
    margin: 0 2px 0 0;
}

.boxchat-heading h5{
    margin: auto;
}

.offcanvas-body{
    width: 100%;
    max-height: 385px;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: croll;
}

.offcanvas-body::-webkit-scrollbar{
    display: none;
}

.boxchat-body{
    width: 100%; 
    display: flex; 
    padding: 10px 15px;
}

.boxchat-body .user-photo img{
    border: 0px; 
    border-radius: 50%; 
    width: 40px; 
    height: 40px; 
}

.boxchat-body .chat-message{
    width: auto;
    margin: auto 5px; 
    border: 0px; 
    background-color: #f2f2f2;
    border-radius: 10px; 
    padding: 10px;
}

.boxchat-body i{
    margin: auto 0;
    color: goldenrod;
}

.admin .chat-message{
    background-color: aquamarine;
}

.customer{
    justify-content: end;
}

.customer .chat-message{
    background-color: #f2f2f2;
    order: -1;
    text-align: left;
}

.customer i{
    order: -2;
    color: goldenrod;
}

.boxchat-input{
    display: flex;
    background-color: #f2f2f2;
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0;
    margin: 0px;
    border-radius: 20px;
    border-top: 2px solid goldenrod;
}

.boxchat-input input{
    margin: 10px 0 10px 15px;
    padding-left: 15px;
    width: 70%;
    height: 40px;
    border-radius: 20px;
    border: 0;
}

.boxchat-input i{
    transform: scale(1.5);
    color: goldenrod;
    margin: auto 15px;
}

.boxchat-input i:hover{
    opacity: .7;
}

/* Comment box */
.box-comment{
    background-color: #f2f2f2; 
    display: block; 
    width: 60%; 
    height: 600px; 
    margin: 50px auto; 
    border-radius: 10px;
}

.input-comment{
    width: 80%;
    max-height: 130px;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid goldenrod ;
}

.input-comment img{
    width: 75px;
    height: 75px;
    border-radius: 10px;
    margin: auto 10px;
}

.input-comment textarea{
    width: 90%;
    height: auto;
    border: 0px;
    border-radius: 20px;
    padding: 15px;
    resize: none;
}

.input-comment textarea:focus{
    outline: none;
}

.box-other-comment{
    overflow-y: scroll;
    height: 430px;
}

.other-comment{
    width: 80%;
    margin: 0px auto;
    padding: 5px;
    display: flex;
}

.other-comment img{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin: auto 10px;
}

.other-comment div{
    text-align: left;
    background-color: aquamarine;
    padding: 0 10px;
    border-radius: 20px;
    margin: auto 2px;
}

.other-comment div > h5{
    letter-spacing: 1px;
}

.other-comment div > h6{
    font-size: 16px;
    letter-spacing: 0px;
}

.other-comment div:hover{
    background-color: rgba(127, 255, 212, .7);
}

.other-comment a{
    margin: auto 2px;
    color: goldenrod;
    font-size: 18px;
}

.other-comment a:hover{
    color: goldenrod;
    opacity: .7;
    animation: my-transition 1s;
}

.box-reply-comment{
    width: 70%;
    overflow-y: scroll;
    height: 130px;
    float: right;
    border-left: 1px solid goldenrod;
    margin: 10px auto;
}

.reply-comment{
    margin: 0px auto;
    padding: 5px;
    display: flex;
}

.reply-comment img{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin: auto 10px;
}

.reply-comment div{
    text-align: left;
    background-color: aquamarine;
    padding: 0 10px;
    border-radius: 20px;
    margin: auto 2px;
}

.reply-comment div > h5{
    letter-spacing: 1px;
}

.reply-comment div > h6{
    font-size: 16px;
    letter-spacing: 0px;
}

.reply-comment div:hover{
    background-color: rgba(127, 255, 212, .7);
}

.reply-comment a{
    margin: auto 2px;
    color: goldenrod;
    font-size: 18px;
}

.reply-comment a:hover{
    color: goldenrod;
    opacity: .7;
    animation: my-transition 1s;
}
